[2022-10-09 14:08] kalj commented on #1646
More experimentation done. Two new key observations:

1. It is clear there is nothing special about `compile_commands.json` - I get a similar error for other files if I first remove `compile_commands.json` before rebuilding. E.g., I just now got:
[code]
I think we got the message for `compile_commands.json` simply because it happens to be the first file it tries to copy.

2. It only happens if the

[2022-10-09 14:09] kalj commented on #1646
Anyways, I think the Issue title and description needs to be updated. A more proper description is probably:

### Specifying `--build-path` inside the sketch directory is not handled correctly
If a build path is specified inside the sketch directory, arduino-cli seems to get confused and think that build output files such as `compile_commands.json` are part of the build input, which leads to subse

[2022-10-09 22:38] Bodmer opened #1912 "Add cache clear option"
### Describe the request

Add a option to prevent caching or to clear the cache.

### Describe the current behavior

Some libraries and board package use a build_opt.h file in the sketch to configure the board core or indeed a library.

See for example here:
https://github.com/stm32duino/wiki/wiki/Customize-build-options-using-build_opt.h

The problem is that swapping between sketches that use sli

[2022-10-09 22:38] Bodmer opened #2382 "Invalidate core cache if external dependency was modified"
### Describe the request

Add an option to prevent caching or to clear the cache.

### Describe the current behavior

Some libraries and board package use a `build_opt.h` file in the sketch to configure the board core or indeed a library.

See for example here:
https://github.com/stm32duino/wiki/wiki/Customize-build-options-using-build_opt.h

The problem is that swapping between sketches that use

[2022-10-10 19:08] kalj commented on #1646
@per1234 great! I have now updated the title and the description.

[2022-10-11 23:48] carlosperate opened #1917 "A way to specify "macOS universal" tool host in index.json"
### Describe the request

When building an Arduino Core and packaging tools, it looks like there isn't a way to specify a macOS universal "host".

Having a look in https://downloads.arduino.cc/packages/package_index.json I'm not 100% sure what's the right name for the arm64 macOS host, as I can't find any entry there. But based on this test file I believe it's `arm64-apple-darwin`?:
https://github

[2022-10-12 04:26] brianredbeard commented on #1538
Additionally, I'd take this a step further.

Having just installed the `arduino-cli` utility, it seems absurd that it's choosing an arbitrary path of `~/.arduino15` to be searching considering the current version is 2.x and the legacy version is 1.8.x.

Claiming that this introduces a "breaking change" is picking an odd hill to die on at this point.

[2022-10-12 06:33] per1234 commented on #1917
Hi @carlosperate. You can see the code for selecting the appropriate tool flavor here:

https://github.com/arduino/arduino-cli/blob/08d746dd9c31ce75b94a2c3caced3e34b6687f6a/arduino/cores/tools.go#L126-L213

So a host value matching the regular expression `i[3456]86-apple-darwin.*` will cause the tool to be used on:

- macOS x86
- macOS x86-64
- macOS ARM

A host value matching the regular expressi

[2022-10-12 08:19] #1910 closed

[2022-10-12 08:42] #1334 closed

[2022-10-12 09:10] per1234 commented on #1334
I verified the original issue is fixed. If you set the `version` property in the `platform.txt` file of an installed platform to an invalid semver format like:

[code]

With Arduino CLI 0.18.3, `core update-index`, `core list`, `compile` (I didn't check others) panic with the output provided in the original issue report.

Using the latest build of Arduino CLI (https://github.com/arduino/arduino-cl

[2022-10-12 13:31] cmaglie commented on #1821
Fixed by #1908

[2022-10-12 13:31] #1821 closed

[2022-10-12 13:41] ubidefeo commented on #2
Issue closed because autocomplete is implemented
https://arduino.github.io/arduino-cli/0.27/command-line-completion/

[2022-10-12 13:41] #2 closed

[2022-10-12 13:49] #1243 closed

[2022-10-12 14:37] umbynos commented on #92
In the meantime we added back the network discovery, the defualt discovery timout is 1 second, but if you like you can specify it with `--discovery-timeout` flag. For example `arduino-cli board list --discovery-timeout 0.1s` this is really fast.

[2022-10-12 14:37] #92 closed

[2022-10-12 14:48] umbynos commented on #1011
Actually this has been inplemented in the cli https://arduino.github.io/arduino-cli/latest/sketch-project-file/.

[2022-10-12 14:48] #1011 closed

[2022-10-12 14:53] umbynos commented on #108
Actually, we implemented the sketch project files, that should support something really similar to your use case: https://arduino.github.io/arduino-cli/latest/sketch-project-file/

[2022-10-12 15:10] umbynos commented on #218
Hi @filipgoc Could you please try with the latest version of the cli? https://github.com/arduino/arduino-cli/releases/latest

[2022-10-12 15:12] umbynos commented on #270
https://github.com/arduino/arduino-cli/pull/281#issuecomment-1209195561

[2022-10-12 15:12] #270 closed

[2022-10-12 15:14] umbynos commented on #280
Hi @berry0511 Could you please try with the latest version of the CLI? https://github.com/arduino/arduino-cli/releases/latest

[2022-10-12 15:18] umbynos commented on #1253
This seems to be a problem of the preprocessor (ctags) fixing it upstream is basically impossible, an alternative would be to switch to arduino-prepocessor but needs some love (still uses an old version of llvm). I don't see it coming shortly.

[2022-10-12 15:30] cmaglie commented on #446
I retried with the latest CLI:

[code]

A lot of improvements have been done to the Arduino CLI, and it seems to compile fine now, so I'm optimistically going aheah and closing the issue.
If the problem persists feel free to reopen the issue.

[2022-10-12 15:30] #446 closed

[2022-10-12 15:37] umbynos commented on #510
The serial discovery system is changed a lot, now we have the pluggable discovery and it seems that this issue is not valid anymore.

[2022-10-12 15:37] #510 closed

[2022-10-12 22:37] PhilippeBrissant commented on #108
How can we point our own libraries in this yml file? We just point the absolute path to it?

[2022-10-13 08:01] jepperaskdk commented on #1689
Same issue here:
[code]

[2022-10-13 09:36] umbynos commented on #557
Closing because we implemented the compilation database functionality

[2022-10-13 09:36] #557 closed

[2022-10-13 09:43] umbynos commented on #566
Since this is not affecting many users, I would prefer to have a troubleshooting guide in the docs

[2022-10-13 09:52] umbynos commented on #568
Hello @klorydryk, I think that linux arm support for homebrew is problematic:

Form https://docs.brew.sh/Homebrew-on-Linux#arm

I suggest to download a release from https://github.com/arduino/arduino-cli/releases/latest

[2022-10-13 09:52] #568 closed

[2022-10-13 09:56] cmaglie commented on #581
A lot of time passed since we have no way to reproduce I'll close this as "solved". If there are still problems, I think it's better to open a new issue with updated information to reproduce the error.

[2022-10-13 09:56] #581 closed

[2022-10-13 09:58] umbynos commented on #583
Closing as this would create confusion and complicate the codebase

[2022-10-13 09:58] #583 closed

[2022-10-13 10:03] umbynos commented on #1252
Hi @MiLeG, sorry for the very late response, but this is something that we won't be able to do:
because the precompiled core depends on board selected/core version and other parameters that would not allow having a precompiled core.

[2022-10-13 10:03] #1252 closed

[2022-10-13 10:08] umbynos commented on #588
Hi @kittaakos, is this something that is still needed?
I would not add more complexity in our released archives, maybe a workaround would be to just add a new archive to the releases including only the proto files. But at this point you have the same result as git cloning the repo and checking out the release tag.

[2022-10-13 10:13] umbynos commented on #873
@jantje this issue should be solved by https://github.com/arduino/arduino-cli/pull/1887, can you confirm it?

[2022-10-13 10:32] umbynos commented on #651
I think we can close this one since we added the flag `--no-color` in https://github.com/arduino/arduino-cli/pull/1418

[2022-10-13 10:32] #651 closed

[2022-10-13 10:38] cmaglie commented on #650
Hi @ElXreno, sorry for the long delay in replying here.

The go-lang package system allows a project to provide the `go.mod` file with all the dependencies versions required to build the project (and the `go.sum` with the checksums to verify them that is automatically generated): this is the only requirement for a generic go project.

Your requirest to bundle a copy of **all** the source code for

[2022-10-13 10:38] #650 closed

[2022-10-13 10:46] umbynos commented on #671
Hi @harryberlin, currently the latest version of the cli (0.27.1) has a flag called `--output-dir` which **Save build artifacts in this directory**. For example:
`arduino-cli compile -b arduino:megaavr:uno2018 ~/Blink -v --output-dir /tmp/cose/`:
[code]
We do not offer the possibility to export only some of the build artifacts.

[2022-10-13 10:46] #671 closed

[2022-10-13 12:36] jantje commented on #873
This indeed solves the problem of lack of documentation.
However IMHO with the described strategy there will be boards that no longer compile after the change.

[2022-10-13 12:36] #873 closed

[2022-10-13 15:36] mamoru1126 opened #1920 "Can Not Build QueueHandle_t of FreeRTOS"
### Describe the problem

Hello,
I created a program used message queues of FreeRTOS for M5stack gray.
An example program is as follows:

[code]

I built this program using the following command:

[code]

Then the following error message was output

![image](https://user-images.githubusercontent.com/58585300/195640572-93bc53d7-a39e-4ceb-a1df-dfd4470db0e7.png)

Please let me know how to resolve thi

[2022-10-13 23:03] per1234 commented on #1920
Hi @mamoru1126. Thanks for your interest in this open source project. This issue tracker is only to be used to report bugs or feature requests. This topic is more appropriate for the Arduino Forum. I'm sure we will be able to help you out over there:

https://forum.arduino.cc/

[2022-10-13 23:03] #1920 closed

[2022-10-14 13:40] FStefanni opened #1923 "Allow installing from GIT at specific version"
### Describe the request

Hi,

currently the `arduino-cli lib install --git-url` command does not allow to specify a version.
So it could be useful to allow this, by supporting tag, branches and SHA ID's.

Git already support this with the `--branch` option.

So something as this should be fine:
[code]

Regards

### Describe the current behavior

Currently always the latest commit on master/main i

[2022-10-14 14:05] per1234 commented on #1923
Hi @FStefanni. Thanks for your request. I'm happy to tell you this capability has already been added thanks to a community contribution: https://github.com/arduino/arduino-cli/pull/1776

[2022-10-14 14:05] #1923 closed

[2022-10-14 14:38] FStefanni commented on #1923
Hi,

that's great.
Sorry, I tried with '@' as for normal libs, without success, and found no description in the doc.
So maybe this could be mentioned in the doc: for urls, use `#`.

Regards.

[2022-10-14 15:11] per1234 commented on #1923
It is demonstrated in the examples provided on the documentation website:

https://arduino.github.io/arduino-cli/dev/commands/arduino-cli_lib_install/#examples

And in the command line help:

[code]

Any suggestions for improvements on the documentation are welcome.

[2022-10-16 18:36] Ajaykumar415 opened #1926 "Space in system username error in arduino IDE v2.0[windows-64bits]"
so my username has a space in it and it just wont work i tried installing it to a different drive altogether is there any solution to this? I don't even need the uploading bit i just need to convert the .INO file to hex so that i can upload it to an ATtiny 85

the error when installing:
![image](https://user-images.githubusercontent.com/70839549/196051971-5e068791-5b69-417e-bb28-75d6c0016da2.png)

[2022-10-17 07:05] kittaakos commented on #588
Sounds great.

How do you expect anybody to develop against the CLI when the APIs are unavailable as part of the release? It's not only for IDE2 but for the public. In fact, IDE2 has to build the CLI quite often from a branch, so distributing the `.proto` files is not a silver-bullet solution.

[2022-10-17 10:43] umbynos commented on #108
This is not possible. Because we implemented the sketch project files as a system to have a reproducible environment. Using an unpublished library wouldn't allow such thing.

[2022-10-17 14:09] umbynos opened #1925 "Rework board attach command"
The `board attach` command has a broken implementation:

## Inconsistent port argument format

Currently, the command will only accept a port when passed in as a full path (e.g.: `serial:///dev/cu.usbmodem14301`). This is inconsistent with all the other commands that accept a port argument, which allow the more user friendly address (e.g.: `/dev/cu.usbmodem14301`) to be used.

The command must acc

[2022-10-17 23:10] per1234 commented on #1925
The deficiency of being unable to specify both port and FQBN via the command is tracked at https://github.com/arduino/arduino-cli/issues/1073

[2022-10-18 05:57] ubidefeo commented on #1925
@per1234
this issue was only tracked internally.
Yesterday, during grooming/planning, we made it public in order to add it to the `1.0` milestone.
This is why this one popped up seemingly out of the blue.
Your mention of #1073 publicly links the two 🙏🏼

[2022-10-18 10:05] kittaakos opened #1928 "[doc] locale is missing from the CLI config spec"
### Describe the problem

`locale` is a valid CLI config entry, but it's undocumented yet. https://arduino.github.io/arduino-cli/0.27/configuration/#configuration-keys

### To reproduce

Go to https://arduino.github.io/arduino-cli/0.27/configuration/#configuration-keys, `locale` is not there.

### Expected behavior

`locale` is documented

### Arduino CLI version

It's not a CLI malfunction

### O

[2022-10-18 10:31] per1234 commented on #1928
Beyond a documentation deficiency, the configuration key is not even supported by the `arduino-cli config` command:

[code]

I think that bug should be fixed before or during the documentation update since the user will expect to have full functionality from any documented configuration key.

[2022-10-18 13:21] umbynos commented on #588
We will make a special archive called `arduino-cli_0.27.1_proto.zip` and add it to the release files. The files that will be added to the archive will be [these ones](https://github.com/arduino/arduino-cli/tree/master/rpc) filtering out the `.go` ones. Would that be good for you?

[2022-10-18 13:35] umbynos commented on #701
Hi @HennieP12 we are already building with `GOARCH=amd64` so your problem should already been solved. Feel free to reopen the issue if needed

[2022-10-18 13:35] #701 closed

[2022-10-18 13:37] umbynos commented on #705
Hi @MicheleCioccarelli we now have a MSI installer :partying_face: This installer will also place the binary in the windows PATH env variable.

[2022-10-18 13:37] #705 closed

[2022-10-18 13:40] umbynos commented on #710
This should be solved here https://github.com/arduino/arduino-cli/pull/1904, please try it out

[2022-10-18 13:40] #710 closed

[2022-10-18 13:43] umbynos commented on #722
Hi @dajtxx could you please try with the latest version of the cli? A lot of fix were made in the upload https://github.com/arduino/arduino-cli/releases

[2022-10-18 14:17] kittaakos commented on #588
Fantastic! 😍

[2022-10-18 15:37] #1660 closed

[2022-10-18 17:38] umbynos commented on #705
https://github.com/arduino/arduino-cli/releases/download/0.28.0-rc.1/arduino-cli_0.28.0-rc.1_Windows_64bit.msi

[2022-10-19 08:50] FStefanni commented on #1074
Hi,

as a suggestion: a lot of tools allow to dump the "default config" into a file.
This is useful to have a guide to start to customize the options.
So it could be nice to perform this maybe with an option for `arduino-cli sketch new`,
or, if preferred, as a separate command.

Regards

[2022-10-19 10:47] silvanocerza commented on #1925
Am doing this.

[2022-10-19 13:24] umbynos commented on #1925
:metal:

[2022-10-20 13:13] cmaglie commented on #725
This can be easily done and makes sense, btw there is still the question of which value should be used when the CLI runs standalone. Probably we should keep `10607` as the default?

@matthijskooijman

This has been already done in the ArduinoCore-API
https://github.com/arduino/ArduinoCore-API/blob/e26862e453c1234e1c23506d1839bfa68999d911/api/ArduinoAPI.h#L24
I think that this is already handled by

[2022-10-20 13:16] umbynos commented on #742
Hi @DataGhost could you please try with the latest version of the cli? A lot of fix were made in the upload https://github.com/arduino/arduino-cli/releases

[2022-10-20 13:20] umbynos commented on #745
Hi @novalisek I think you are using the old and deprecated https://github.com/arduino/arduino-builder,
could you please try if this issue applied also to the latest version of the cli? https://github.com/arduino/arduino-cli/releases

[2022-10-20 13:41] #746 closed

[2022-10-20 15:06] umbynos commented on #1315
Hi @MHotchin can we consider [this](https://github.com/arduino/arduino-cli/issues/1315#issuecomment-860538455) solved using this trick?

[2022-10-20 15:50] umbynos commented on #792
Hi @jonathangjertsen, this has changed a lot, but I think that now the error should be more clear: https://github.com/arduino/arduino-cli/blob/bdd0cf9267926f81b91ddbde30189dac6eeb1829/cli/instance/instance.go#L187
Furthermore, the index is downloaded when required #908, feel free to reopen this if needed

[2022-10-21 06:39] MHotchin commented on #1315
It addresses the problem for command line users, but doesn't appear to help IDE users.

I'll leave it to you to decide if the IDE needs to be supported, and if you decide not, then close the issue.

[2022-10-21 09:46] umbynos commented on #778
Since this is not an issue with the cli, but a problem with the core not having a release for linux arm64 I'd close that one.

[2022-10-21 09:46] #778 closed

[2022-10-21 10:29] ilg-ul commented on #778
Just curious, is there support for Raspberry Pi OS in the latest Arduino tools?

[2022-10-21 15:11] umbynos commented on #778
Sorry, could you be a little more specific? What do you mean by "Arduino tools"? If you wanted to ask if the CLI supports raspberry PI OS, yes. We provide binaries for linux arm, you can find more info in the [documentation](https://arduino.github.io/arduino-cli/0.28/installation/#download)

[2022-10-21 15:13] umbynos commented on #1315
Thanks! I'll close this one then since this is not strictly related to the CLI. Feel free to open a feature request in the [Arduino IDE repository ](https://github.com/arduino/arduino-ide)

[2022-10-21 15:13] #1315 closed

[2022-10-21 15:27] ilg-ul commented on #778
I'm not familiar with the Arduino tools, I mean everything required for practical work; if `arduino-cli` is the only one, then it should be fine.

As far as I know, the xPack arm-none-eabi-gcc is used by the IDE version of Arduino for STM32; I'd be interested to know if it also works properly with `arduino-cli`, on all supported platforms.

[2022-10-21 15:45] #1856 closed

[2022-10-21 20:05] per1234 commented on #778
If it works in Arduino IDE, it will also work with Arduino CLI. Arduino CLI just executes whatever command was specified by the STM32duino boards platform, using whatever tool version their package specified for use with the host architecture. So in the case of platform toolchains (vs the Arduino CLI binary and its "built-in" tools serial-monitor, serial-discovery, mdns-discovery, ctags), whether

[2022-10-21 20:59] ilg-ul commented on #778
Great, thank you!

[2022-10-21 21:30] novalisek commented on #745
Hi @umbynos
 tried to install Arduino IDE 1.8.19,  still using same link to virtualbox shared folder made by " mklink /D d:\programy \\vboxsrv\programy"  (which also contains hardware definitions for ESP32) and I am still getting

[code]

Is arduino-builder from Arduino 1.8.19 deprecated?  I didn't try with Arduino IDE 2.0.0 yet.

I think the problem is somewhere in the path - it is showing "\\vbo

[2022-10-22 18:14] per1234 commented on #745
You must use Arduino CLI @novalisek. Reporting results you are getting from Arduino IDE 1.8.19 is not useful to us because that is an outdated version of the IDE in maintenance mode.

I'll provide instructions you can follow to test this with Arduino CLI:

1. Click the following link to download the latest nightly build of Arduino CLI:
   https://downloads.arduino.cc/arduino-cli/nightly/arduino-cl

[2022-10-22 19:26] novalisek commented on #745
@per1234 hello, sorry for using IDE with deprecated arduino-cli, may be they should add some note to download page, that it contains deprecated utils and shouldn't be used.

Anyway I tried your steps, and I am still getting that error:

[code]

I think there is still "\\"  missing in the path

[2022-10-22 21:04] yan007931 commented on #164
I have the same issue .
Please find below my detailed logs
Version: 2.0.0
Date: 2022-09-14T07:06:37.759Z
CLI Version: 0.27.1 [a900cfb2]

Copyright © 2022 Arduino SA
*********************************************************************************************
I installed this version sofware version :
Version: 2.0.0
Date: 2022-09-14T07:06:37.759Z
CLI Version: 0.27.1 [a900cfb2]

Copyright © 2022 Ard

[2022-10-23 06:44] per1234 commented on #164
Hi @mo-pyy and @wtgee. You have posted the output from a successful upload so all is well. Congratulations!

If you have any other questions, you are welcome to post on the Arduino forum. We'll be happy to help you out over there:

https://forum.arduino.cc/

[2022-10-23 06:44] #164 closed

[2022-10-25 01:21] per1234 opened #1943 "Recovery of soft bricked native USB boards w/o double-tap impossible without port selection"
### Describe the problem

The primary microcontrollers of many Arduino boards have USB capabilities (e.g., Leonardo, Micro, MKR). These boards often communicate directly between the primary microcontroller and PC rather than having a separate "bridge" interface chip that provides the USB capability needed to communicate with the computer (e.g., Uno, Mega).

Because the USB capabilities are impleme

[2022-10-25 07:06] per1234 opened #1945 "Function prototypes not generated when sketch path contains `"`"
### Describe the problem

In order to make it easier for beginners to get started with writing Arduino sketches, and for the convenience of all users, Arduino CLI [automatically generates and adds prototypes for functions defined in a `.ino` file of a sketch](https://arduino.github.io/arduino-cli/dev/sketch-build-process/#pre-processing).

🐛 If the parent path of a sketch contains a double quote c

[2022-10-25 19:04] per1234 opened #1946 "`#line` directive inserted incorrectly when sketch under path w/ `"` and contains `#include <Arduino.h>`"
### Describe the problem

In order to make it easier for beginners to get started with writing Arduino sketches, and for the convenience of all users, Arduino CLI [does some minor preprocessing of the `.ino` files of a sketch to convert them to C++](https://arduino.github.io/arduino-cli/dev/sketch-build-process/#pre-processing).

This preprocessing includes adding lines to the code and changing th

[2022-10-26 05:07] per1234 commented on #1691
Thanks so much for reporting this bug @nalzok. I am able to reproduce the bug using versions from 0.21.0 (I didn't check older versions) to 7f2e750d5285111da0b28ccac255bb37022a23ab, but not with any newer revision.

I bisected the fix to https://github.com/arduino/arduino-cli/pull/1717

Since it was the one mentioned here, I only tested with `arduino-cli compile --upload`. If anyone discovers othe

[2022-10-26 05:07] #1691 closed

[2022-10-26 06:17] per1234 opened #1947 "`compile --preprocess` panics if `#include`d file not found"
### Describe the problem

If a sketch contains an `#include` directive for a file not present in any of the search paths, the `arduino-cli compile --preprocess` command panics.

### To reproduce

[code]

🐛 The stack trace from the panic does not provide any information of value to the user and may give them the impression the error was the result of a bug in Arduino CLI instead of with their sketc

[2022-10-26 13:11] cmaglie opened #1948 "cli code refactoring: argument parsing/handling should not access the `arduino` package directly"
### Describe the problem

This is an architectural issue in the golang implementation of the CLI.
The `cli` package should not use directly the `arduino` package but it should use only the functions available through gRPC, implemented in the `commands` package to avoid code duplication and re-implementation of the same functionality over and over.

### To reproduce

The current instances of the ab

[2022-10-26 13:55] txgk opened #1950 "Tests fail on a package builder"
### Describe the problem

Hi, currently I'm interested in getting arduino-cli package to the Alpine Linux repositories (I know that musl can be of issue here - that's why I add gcompat to the dependencies and install gcc-avr and avrdude from package manager). However, there is a big problem which I am experiencing right now: a lot of tests fail with `Error searching for repository root path` messa

[2022-10-26 15:41] matthijskooijman commented on #725
This is only half of my suggestion (API version, not core version), but indeed, the core version also does not need support in arduino-cli and can be handled in .h files only.

Thinking more about the runtime.ide.version, I wonder if this should be used at all in the future, given that like you say arduino-cli can be run without an IDE as well. Adding a runtime.arduino-cli.version might make sense

[2022-10-26 17:55] cmaglie commented on #725
That's exactly what I'd like to do, previously `{runtime.ide.version}` was linked to the AVR core version, AFAIU the `-DARDUINO={runtime.ide.version}` define worked as a sort of alias to the AVR core version. This allowed, for example, a smooth transition when some breaking changes were introduced in the ArduinoCore API (notably the `Wire.write()` method incompatibility).

When the AVR platform ha

[2022-10-27 09:49] umbynos commented on #1950
Hi @txgk, thanks for your interest in this project.
Firstly, I don't think you'll need `avrdude` and `gcc-avr`. Avrdude is a tool used for the upload of the compiled code on the microcontroller, and gcc-avr is the toolchain used to compile that code. They are provided when you run `arduino-cli core install arduino:avr`. I have doubts if they will work or not.. AFAIK they are not built with alpine

[2022-10-27 11:55] txgk commented on #1950
Hi, thank you for detailed answer.

As far as I know arduino-cli downloads binaries that are linked against glibc. If it's true then it is a big flaw. Is there a way for me to force arduino-cli to use system-provided avr tools instead of fetching ones linked against glibc? I think that'd be a very useful feature.

I checked and even tests in release tarballs (without git artifacts) fail because th

[2022-10-27 16:06] IvarWithoutBones opened #1955 "Compilation fails without any error message"
### Describe the problem

When attempting to compile an completely empty sketch on MacOS, the CLI return exit status one with seemingly no error message. This is with a fresh install, the only thing done prior to receiving the error is installing the needed platform/core.

[code]

### To reproduce

[code]

### Expected behavior

The sketch should successfully compile and spit out a binary.

### Ar

[2022-10-28 00:49] per1234 commented on #1955
Hi @IvarWithoutBones. Thanks for your report.

What happens if you run this command from the command line?

[code]

---

I notice you have included the `--clean` flag in your commands. Does the problem still occur even without that flag, or is it a required condition to reproduce the fault?

[2022-10-28 07:21] per1234 opened #1956 "Indicate presence of development flag file in library data"
### Describe the request

The Arduino Library Specification includes a flag file which indicates whether the library is under development by the user:

https://arduino.github.io/arduino-cli/dev/library-specification/#development-flag-file

In order to prevent confusion resulting from inadvertent edits to what are expected to be "known good" sketches documenting library usage. The Arduino IDE treat

[2022-10-28 07:48] IvarWithoutBones commented on #1955
Thank you for the swift response, its much appreciated.

It prints the help message as expected, there does not seem to be anything broken there. When invoking the executable in the same way `arduino-cli` does based on the logs I got an error claiming it cannot open a temporary file, assuming that is just because of cleanup though.

It is not, the problem occurs exactly the same with or without th

[2022-10-28 07:59] #1928 closed

[2022-10-28 20:43] benmcmorran opened #1957 "More permissive license for *.proto files"
### Describe the request

The *.proto files in this repo are currently licensed under GPLv3. I'm not a lawyer, but that seems like it would prevent any non-GPL application from interacting arduino-cli over the gRPC interface because the application would need the *.proto files for code generation. Is that intentional, and if not, would it be possible to change the license for *.proto files specifi

[2022-10-30 16:23] Tinyu-Zhao opened #1970 "Sometimes it will not compile after switching development version"
### Describe the problem

Sometimes it fails to compile after switching to the development version, and it says "No connection established".

<img width="1307" alt="image" src="https://user-images.githubusercontent.com/44396641/198889566-0eb8df40-138b-44f9-9392-1ec56fa02cfd.png">

But strangely enough, after restarting the IDE, most of them will be able to compile normally.

### To reproduce

Some

[2022-11-01 16:39] angrest opened #1959 "Cannot install new board managers"
### Describe the problem

An existing [github-action](https://github.com/angrest/pocketBME280/blob/3586c5073140b33de5eeb75f83e2775013d62fe2/.github/workflows/compileSketchesMatrix.yml) (not used for a month) now breaks if I try to install another platform:
[code]

### To reproduce

I can reproduce this in a fresh ubuntu docker container:
[code]
If I manually download the JSON file and put it into

[2022-11-01 20:48] per1234 commented on #1959
Hi @angrest. You must run the `arduino-cli core update-index` command before `core install`.

[2022-11-01 20:48] #1959 closed

[2022-11-01 21:14] angrest commented on #1959
did not solve the problem.
freshly created docker container as above
[code]

[2022-11-01 21:20] per1234 commented on #1959
If you are going to specify package index URLs via the `--additional-urls` flag, you must do that in every command that relies on that information. `core update-index` very much relies on that information.

If you need additional assistance using Arduino CLI, we are always happy to help out over on its dedicated category in the Arduino forum:

https://forum.arduino.cc/c/software/arduino-cli/89

[2022-11-01 21:40] angrest commented on #1959
as written above, the action worked without any problem four weeks ago (it is actually based on your contribution 😊 ) - so, why should it stop working suddenly? The only thing which changed meanwhile is arduino-cli was updated to 0.28.0

[2022-11-02 10:11] angrest commented on #1959
I've meanwhile tried v0.27.0 - there it works without problem (with and without previous `core update-index`).
Fresh container:
[code]

[2022-11-02 11:50] cmaglie commented on #1950
Unfortunately, yhis is not possible as every microcontroller platform requires a very specific set of tools (with very specific versions)... sometimes even changing a minor release of one of them can break a platform (also the libraries the tools are linked to may create problems, `libusb` is one of them).

We used to not bundle `avr-gcc` and `avrdude` with the Arduino IDE for Linux, relying on th

[2022-11-02 13:22] per1234 opened #1960 "Previous custom discovery tool process left running after update"
### Describe the problem

In addition to the always available [**serial-discovery**](https://github.com/arduino/serial-discovery) and [**mdns-discovery**](https://github.com/arduino/mdns-discovery) [pluggable discovery](https://arduino.github.io/arduino-cli/dev/pluggable-discovery-specification/) tools of the `builtin` package, dependencies on custom discovery tools [can be specified](https://ardu

[2022-11-02 15:38] mphasize opened #1961 "CLI upload command seems to ignore "--format json" option"
### Describe the problem

When running `arduino-cli upload [...] --format json` the CLI command doesn't respond with JSON output on the command line. A successful run seems to return no output, while errors are simply written to stdout.

### To reproduce

Open the terminal and upload any sketch with the `--format json` option.

For example: `arduino-cli upload /home/user/Arduino/MySketch --format

[2022-11-02 17:53] txgk commented on #1950
Hi, thank you for detailed answer!

I understand that. Going for system-provided tools by default wouldn't be really practical in this case, yeah. But I want to believe that adding `--use-system-tools` argument or something like that to arduino-cli is not difficult to implement (I may be wrong; I don't want to make an impression like I demand it, I just let you know that it would be nice to have i

[2022-11-03 21:45] per1234 commented on #684
Yes. Arduino IDE always specifies the warning level in the compile request. That warning level is set according to the user's preferences. The default value of the preference is set in the Arduino IDE codebase:

https://github.com/arduino/arduino-ide/blob/260227e79a05fefeb87ba1400c14215b358cc20c/arduino-ide-extension/src/browser/arduino-preferences.ts#L93

[2022-11-04 08:26] #1956 closed

[2022-11-04 08:52] ubidefeo opened #1963 "Provide an `--offline` directive to prevent errors in portable mode"
### Describe the request

I have been testing a setup for portable mode of Arduino CLI.
I am happy to know that (at least on Mac OS) it works beautifully, but when I have an unrecognised device attached to the USB port, it tries to resolve the `fqbn` using the Arduino online builder.
This generates an error which is unpleasant.
I am not sure what other calls to services are made besides updating i

[2022-11-04 09:42] cmaglie commented on #1963
May you paste the error too?

[2022-11-04 11:33] matthijskooijman commented on #1963
I'm also not sure I understand the relation here. Why would a portable installation not be able to do an online lookup? Or is the problem that a portable installation has no place to download index files or so? If so, an "offline" flag does not seem like an appropriate fix. Even more, if this error always occurs in portable mode, why need a flag at all, couldn't it just be applied always in portab

[2022-11-08 09:35] kittaakos opened #1968 "The CLI provides different error messages when loading the main sketch file fails"
### Describe the problem

IDE2 must gracefully handle invalid sketch (folder) names and open them even if the CLI cannot load the sketch.

Since CLI can't provide error codes (https://github.com/arduino/arduino-cli/issues/1762), IDE2 must parse the error message of the CLI and try to detect invalid sketch name problems. (See arduino/arduino-ide#1563)

Unfortunately, the CLI's error message quite o

[2022-11-08 09:57] kittaakos commented on #1968
Too bad, this won't work at all. IDE2 cannot rely on parsing the error message as it's different per locale. After setting the `locale` to `it` in the `arduino-cli.yaml` config file.

[code]

[code]

[2022-11-08 15:32] #1907 closed

[2022-11-08 15:39] cmaglie commented on #1963
The "portable mode" @ubidefeo is referring to is just changing the "data" directory to a path inside the arduino-cli installation, so there is no way to tell if we are in "portable" or not.

I agree with you, the whole reasoning about the "portable mode" is useless in this issue and I think that the error is present even in a normal installation.

[2022-11-10 21:45] grzybsonssg opened #1971 "Variable {runtime.hardware.path} not evaluated on board in sketchbook"
### Describe the problem

Hi
I have issue with 3rd party board installed through the sketchbook (user folder).
Variable `{runtime.hardware.path}` is not properly evaluated, whereas other variables are replaced with proper values.
`{runtime.hardware.path}` is global variable that should by evaluated always, right?

### To reproduce

Just try to install Roger Clark's STM32 board following his instru

[2022-11-11 06:53] per1234 commented on #1971
Thanks for your report @grzybsonssg. In case it will be useful for the preparation and validation of a fix, I'll provide a minimal demonstration of the bug:

I created a minimal boards platform that uses a [build hook](https://arduino.github.io/arduino-cli/dev/platform-specification/#pre-and-post-build-hooks-since-arduino-ide-165) to print `{runtime.platform.path}` to the verbose console output du

[2022-11-11 13:02] per1234 commented on #1970
Hi all. Thanks for your reports. [**cmaglie**](https://github.com/cmaglie) investigated the problem and identified a potential cause.

[A fix has been prepared](https://github.com/arduino/arduino-cli/pull/1972), but unfortunately we were never able to reproduce the fault despite quite some attempts. So we are hoping that you might be willing to help us out by testing the fix and letting us know wh

[2022-11-11 13:40] ReneHeuker commented on #1970
Had same problem on Mac with the ide for arduino uno and esp01. problem occurs on regular version and disappears after installing this snapshot.

[2022-11-11 22:47] simap commented on #1970
Had the same problem after updating to 2.0.1 w/ esp32, went away when I restarted the IDE. 🤷‍♂️

[2022-11-13 01:29] Burt-Silverman commented on #1970
Yes, I am using ESP8266 rather than ESP32 for my work.

No, the tester version works fine for me.

[2022-11-13 11:20] Andrew-F-in-Australia commented on #1970
logs below.  Test version (beta version) worked perfectly when executed through a terminal.  Crashed when run on a clean install of Fedora 36 when executed by double clicking in terminal/graphical display manager.

Logs here: https://forum.arduino.cc/t/linux-nano-ch340-detected-working-in-ide1-8-13-but-not-ide2-0-1/1048313/15

The current fix also allows the user to select the example sketches.  S

[2022-11-13 15:13] limited commented on #1970
* I was able to reproduce the fault with the regular Arduino IDE version (stack trace below)
* I was not able to reproduce the fault with the tester version.

[code]

[2022-11-13 18:35] adamkdean commented on #948
Has there been any update on this @matthijskooijman? Seems to me like a very arbitrary restriction. Sure, there are a lot of beginners using arduinos, but there are also many seasoned professionals who just enjoy using various arduino-compatible boards for fun. This, however, is a frustrating limitation when trying to keep projects tidy.

[2022-11-14 08:49] #1970 closed

[2022-11-14 11:24] #1543 closed

[2022-11-14 11:34] Andrew-F-in-Australia commented on #1970
Hi all,

I had one of the forum issues above.

Confirming....
Nightly build 2.0.2 worked perfectly in a fresh build of Fedora, if you double click on the icon in file manager.
To get appimage working successfully in Fedora/Linux.

(1) sudo usermod -aG dialout horace
(2) sudo chmod +x arduino-ied_2.0.1_Linux_64bit.appimage {or whatever filename it is.]
(3) sudo chown <username>: /dev/ttyUSB0 (or wh

[2022-11-14 11:46] #1612 closed

[2022-11-14 12:34] ubidefeo commented on #880
@per1234 , @cmaglie
Upon further examination, I have noticed the following:
if a user has multiple boards connected, one of which with a resolvable `fqbn` via means of installed `boards.txt`, and the other which cannot be resolved unless the CLI is able to query the service, even the normally recognised one will be skipped and CLI will generate an error and even break the JSON output.

I'll be ana

[2022-11-14 14:13] davegarthsimpson commented on #1605
Hi @per1234 are there any further actions on this?

[2022-11-14 14:31] FStefanni opened #1973 "Support of CMake"
### Describe the request

There are many use cases for which the custom-made Arduino compilation process does not fit well or easily.

Some issues related to these needs are #1473 and #1407.

I also need more complex builds for my needs at work.

Actually, the truth is that complex scenarios require something less automatic, but well known and supported, which, for C and C++, it is CMake. CMake is

[2022-11-14 16:57] umbynos opened #1974 "Boost libraries with the exact match"
### Describe the request

Related to https://github.com/arduino/arduino-ide/issues/1106

### Describe the current behavior

`arduino-cli lib search SD`

[out.txt](https://github.com/arduino/arduino-cli/files/10005220/out.txt)

As you can see the SD lib is pretty down in the list

### Arduino CLI version

0.28.0

### Operating system

N/A

### Operating system version

na

### Additional context

_

[2022-11-15 03:24] TheAeroPath commented on #1970
Fixed the problem for me as well. Thank you much!

[2022-11-15 05:26] per1234 commented on #1605
@davegarthsimpson the problem is that the previous `sketch.json` system requires a URI style protocol+port format like `serial:///dev/ttyUSB0`. @ShyLionTjmn must have manually added the unsupported port format into the `cpu.port` field of the file, since if `board attach --port` is used, the port has the correct format. Unfortunately, Arduino CLI does not communicate the problem to the user.

This

[2022-11-15 09:12] #1974 closed

[2022-11-15 10:38] cmaglie commented on #745
Do you mean that `\\vboxsrv\programyarduino` should be `\\\vboxsrv\programyarduino`?

[2022-11-15 11:43] novalisek commented on #745
@cmaglie it should be   `\\vboxsrv\programy\arduino`  because   `d:\programy\`  is directory symbolic link (mklink /D) to `\\vbox\programy`  and `arduino` is subdirectory of that.

[2022-11-15 17:21] cjhdev commented on #664
This issue was not completely resolved in #1098

The index file contains package definitions, and each definition has a URL field.
The fix was applied to the index file URL, but not to the package URLs within the index file.

I have confirmed that the legacy IDE supports file URLs in the package definitions.

Should this issue be reopened?

[2022-11-15 20:16] 2dom opened #1977 ".s file do not get copied into build directory for project with ULP code"
### Describe the problem

When trying to compile ULP code, the .s file is not copied from the source directory into the build directory. Hence the compile fails with 'undefined reference to' errors. The linking succeeds if the file is copied into the build directory by hand.

### To reproduce

Compile any ULP example project

### Expected behavior

Compile succeeds

### Arduino IDE version

2.01

[2022-11-16 01:24] #1977 closed, assigned to per1234

[2022-11-16 09:52] matthijskooijman commented on #1977
From a quick glance, ULP is the ultra-low-power coprocessor in the ESP32? That is probably programmed using a different kind of assembly language than the regular ESP32 assembly, so that explains why it must have a different file extension. But I do not think arduino-cli has any support for such auxiliary extensions nor coprocessors, so I guess this is something for the ESP32 core to solve somehow

[2022-11-16 11:49] per1234 commented on #1977
I understand now:
https://github.com/duff2013/ulptool#readme

The **ulptool** relies on undefined behavior of older versions of the Arduino build system, where correct file extension case was not enforced when copying files from the sketch folder to the build folder. This actually stopped working at Arduino IDE 1.8.14:
https://github.com/duff2013/ulptool/issues/74

I found it was possible to copy

[2022-11-16 14:39] #1971 closed

[2022-11-17 06:12] per1234 opened #1981 "Redundant discovery processes created by additional daemon instances"
### Describe the problem

[Pluggable discovery](https://arduino.github.io/arduino-cli/dev/pluggable-discovery-specification/) tools supply Arduino CLI with a list of "ports" of connected Arduino boards. When Arduino CLI is [running as a daemon](https://arduino.github.io/arduino-cli/dev/commands/arduino-cli_daemon/), these tools are started when a gRPC request is received that requires a port listi

[2022-11-17 09:38] ubidefeo commented on #1963
I'll better explain the reason for such request, and close the issue because this can be addressed in a different way: graceful handling of errors, without blocking the rest of the execution.
In this comment one of the problems comes through
https://github.com/arduino/arduino-cli/issues/880#issuecomment-1313623787

we have two main needs:
* being able to maintain JSON formatting
* not stopping exe

[2022-11-17 09:38] #1963 closed

[2022-11-17 12:02] emrullahjack commented on #1970
As a temporary solution, I re-install my board manager everytime I restart my computer to fix it.

The problem appears to occur when I click Tools > board > _board_manager_
`daemon INFO panic: runtime error: invalid memory address or nil pointer dereference`
After that point it seems that the connection between the CLI and the GUI is broken

[2022-11-17 14:34] per1234 commented on #1970
Hi @emrullahjack. Please give the new Arduino IDE 2.0.2 release a try. The bug should be fixed in that version.

The download links are listed here:

https://www.arduino.cc/en/software

[2022-11-17 15:29] emrullahjack commented on #1970
Hi @per1234 thank you! 2.0.2 release works perfectly fine for me!!

[2022-11-20 21:24] feivur commented on #164
get this message with the Arduino Micro

[2022-11-21 10:44] #1925 closed

[2022-11-21 10:44] #1072 closed

[2022-11-21 10:44] #1073 closed

[2022-11-21 10:44] #1605 closed

[2022-11-21 10:48] cmaglie commented on #1073
This problem has been resolved by the complete reworking of the board attach command in https://github.com/arduino/arduino-cli/pull/1930. The user preferences are now saved in the `sketch.yaml` file (that is the official Arduino CLI sketch project file) instead of the `sketch.json` file (that is the file used by the Arduino Web Editor).

[2022-11-21 10:56] cmaglie commented on #1072
The `board attach` command should now accept any argument given without further checks.

[2022-11-21 11:04] #1074 closed

[2022-11-21 13:01] #880 closed

[2022-11-21 22:12] benmcmorran commented on #1957
@alranel any updates on if this change is something that Arduino is considering?

[2022-11-23 13:19] aleroot opened #1990 "arduino-cli board list throws bad CPU type in executable on a M2 Mac without rosetta emulation installed"
### Describe the problem

I have an M2 MacBookPro and I have installed arduino-cli_0.29.0_macOS_ARM64, when I try to list the board I get 2 : bad CPU type in executable ...

I don't want to install rosetta, so is there a way to have all the underlying tools compiled for ARM64?

What is the sense of having arduino-cli ARM64 if then uses underlying tools that are not ARM64 ?

### To reproduce

insta

[2022-11-24 14:03] umbynos commented on #849
Hi @pokeymud with `--build-path` you can specify the Path where to save compiled files. Hope this solves your problem.
[code]

[2022-11-24 14:08] cmaglie commented on #915
This should be solved by #1887 which add specification on how tool selection should behave in all cases.

[2022-11-24 14:37] umbynos commented on #1003
The verification unfortunately increases the upload time. On the other hand the failure due to upload errors are so low that this is not worth to be enabled.

[2022-11-24 14:37] #1003 closed

[2022-11-24 14:49] umbynos commented on #1004
we use `uname` to detect the architecture [in the install script](https://github.com/arduino/arduino-cli/blob/d86bc138c186db94cc76a488b02682eb8a50d739/install.sh#L37). Could you please run `uname -a` and tell us what is reporting?
To me it seems a strange setup to support

[2022-11-24 16:53] nestukh commented on #1004
On the Vero 4K+, with the latest updates, `uname -a` returns
`Linux hostname 4.9.269-16-osmc #1 SMP PREEMPT Tue Nov 1 15:44:25 UTC 2022 aarch64 GNU/Linux`

[2022-11-25 10:56] cmaglie commented on #1004
From the `uname` we get the `aarch64`, but apparently, this is wrong. Do you know how to reliably detect the user-space architecture?

[2022-11-25 14:08] umbynos commented on #1006
@Conplug what do you mean by "it was changed to"? You changed it?

[2022-11-25 14:20] umbynos commented on #1059
Closing because the original Out of Memory bug was resolved. Thanks for the interest in the project :heart:

[2022-11-25 14:20] #1059 closed

[2022-11-25 14:39] umbynos commented on #1068
Hi @obra, thanks for your interest in your project.
We accept your use-case, we added this to our milestone 1.0

[2022-11-25 15:01] umbynos commented on #1090
Hi @ianfixes, unfortunately this cannot be done since it's compiler dependent.

[2022-11-25 15:01] #1090 closed

[2022-11-25 15:10] umbynos commented on #1092
Hi @ianfixes, we added a similar feature in the new versions of the CLI:

[code]
It prints more info with the `--format json`

[2022-11-25 15:15] umbynos commented on #1103
Fixed by #1171

[2022-11-25 15:15] #1103 closed

[2022-11-25 15:25] umbynos commented on #1128
Hi @ianfixes, unfortunately checking the syntax requires the libs and the cores also. For example, how do you check if `digitalWrite(10, HIGH);` is syntactically correct? You need the core for that. But at this point you are basically doing a full compile.

[2022-11-25 15:25] #1128 closed

[2022-11-25 16:00] ianfixes commented on #1090
I'm not sure I understand this resolution.  At some point you know what the compiler flags are, because you have to pass them to the actual compiler.  You "cannot" print them to STDOUT instead (hard-coding "gcc" as the compiler if necessary)?

[2022-11-25 16:29] Groupe-DEMS commented on #1005
Buongiorno,
Thanks for your reminder. As time has passed, I'm not sure to set up the same environment... so many things have changed.
It's an old issue. Maybe it's time to close this one. I will open a new one if I can repoduce it.

[2022-11-25 16:33] VercorsSciences commented on #1005
Buongiorno,
Thanks for your reminder. As time has passed, I'm not sure to set up the same environment... so many things have changed.
It's an old issue. Maybe it's time to close this one. I will open a new one if I can repoduce it.

[2022-11-25 16:33] #1005 closed

[2022-11-25 17:51] cmaglie commented on #1090
Many definitions are builtin in the compiler itself, for example, the `__AVR_ATmega328P__` is given automatically by `avr-gcc`, we did not provide any `-D__AVR_ATmega328P__` flag to the compiler. You may obtain the full list by running:

[code]

Another problems is that a compiler for a specific platform may have a set of flags that is different from a compiler of another, the first example that c

[2022-11-26 13:28] GKStretton opened #1992 "Equals sign in command breaks --libraries flag"
### Describe the problem

The following command fails to build because it can't see the libraries installed

`arduino-cli compile --fqbn arduino:avr:mega --libraries=~/Arduino/libraries --output-dir ./build .`

The following command builds correctly

`arduino-cli compile --fqbn arduino:avr:mega --libraries ~/Arduino/libraries --output-dir ./build .`

Note the only difference is the equals sign

##

[2022-11-26 20:49] nestukh commented on #1004
both `dpkg -l | grep " apt " | awk '{ print $4 }'` and `dpkg --print-architecture` return `armhf`

`arch` returns `aarch64`

`lscpu | grep -i Architecture` returns
[code]

`file -L /sbin/init` returns
[code]

[2022-11-29 11:39] #1871 closed

[2022-11-29 14:48] #1175 closed

[2022-11-29 17:27] alranel opened #1995 "Save build properties in profiles"
### Describe the request

Extend the build profiles feature to also include build properties in the profiles.

Suppose you're compiling a sketch for ESP8266. In the IDE, you'll select multiple options from the Tools menu (like Flash Size, Erase Flash etc.) which affect the compilation of the core. In the CLI, unfortunately, the menu structure is not exposed so instead of using those shortcuts you

[2022-11-30 00:45] per1234 commented on #1995
Hi @alranel. Thanks for your suggestion.

Even though the requested capability of being able to define properties in [profiles](https://arduino.github.io/arduino-cli/dev/sketch-project-file/#build-profiles) does have valid advanced use cases (e.g., https://github.com/arduino/tooling-rfcs/issues/9), in this specific case it is not necessary and I would even strongly discourage this approach when us

[2022-11-30 04:50] adi-g15 commented on #42
To add to this, if you don't want to put a config file in root (like if you are on NixOS), you can use the `--config-file` flag to specify the path to `.cli-config.yml`.

[2022-11-30 08:22] #1160 closed

[2022-11-30 09:41] alranel commented on #1995
Thank you for the answer Per! That was not easy to understand from documentation indeed, and might also be a good idea to mention this in the examples related to `--dump-profile` to avoid headaches to the ESP* users that rely very much on these flags. For now, this issue and your reply will hopefully help people looking for this.
Feel free to close this issue then!

[2022-11-30 13:58] umbynos commented on #1208
Hi @ThorpeJosh, sorry for the delay in the response...
Could you please try with the latest version of the CLI?

If the problem still exists, could you please the docker configuration you have used?

[2022-11-30 14:06] umbynos commented on #1532
Using tab separation is not supported by the latest Arduino IDE 1.8.19. Adding this now would bring even more fragmentation. Furthermore, we cannot see a use case for this.

[2022-11-30 14:06] #1532 closed

[2022-11-30 14:09] umbynos commented on #1220
We dropped support for `sketch.json` in favor of `sketch.yaml` in #1930

[2022-11-30 14:17] umbynos commented on #1229
Hi @RalphCorderoy, we added the [sketch project file](https://arduino.github.io/arduino-cli/dev/sketch-specification/#sketch-project-file) which should solve your problem.
The command `arduino-cli board attach -b <fqbn> <sketchpath>` will produce a `sketch.yaml` file that will contain the fqbn to be used as default.

[2022-11-30 14:17] #1229 closed

[2022-11-30 14:30] umbynos commented on #1265
Hi, @NicoHood, I'm sorry, but we cannot see the benefit from this... Why do you need this?

[2022-11-30 14:30] kittaakos commented on #1262
I do not know if this is still valid, but I checked, and the IDE2 code still has a guard against it:
 - https://github.com/arduino/arduino-ide/blob/d6a4b0f910e37c3ecd569ca457f91b577734e4df/arduino-ide-extension/src/node/boards-service-impl.ts#L551-L554
 - https://github.com/arduino/arduino-ide/blob/d6a4b0f910e37c3ecd569ca457f91b577734e4df/arduino-ide-extension/src/node/library-service-impl.ts#L186

[2022-11-30 16:09] weswitt opened #1996 "Sketch re-compiled when unnecessary"
### Describe the problem

When using make & makefiles a build followed immediately by another build causes nothing to be compiled or linked because make honors timestamps when building the dependency graph.  The arduino-cli does not seem to do this. If i do a compile and then immediately another compile it rebuild the binary the second time. This is unnecessary and consumes time & processing power